h1 {
    font-family: 'Roboto', sans-serif; 
}
.section1{
    
    background-color: blue;

}
.section1 h1{
    color:red
    ;
}
.section1 img{
    width: 200px;
    height: 200px;
    border: 1px solid  red;
}
#id {
    background-color: darkgreen
    
    ;
}
#id2{
    background-color: gold;
}
#id2 input,label{
    color: orangered;
}
li {
    display :inline
}
@font-face {
    font-family: ;
}